*.cache
.DS_Store
.idea
nbproject
/var
/vendor
/packages/*
!/packages/powermail_sitepackage
!/packages/introduction_powermail_cond
!/packages/introduction_powermail-pro
!/packages/introduction_powermailrecaptcha

/public/*

# Don't manage DDEVs .gitignore manually
.ddev/.gitignore

config/system/settings.php
/.project/
/Documentation-GENERATED-temp/
